body {
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    background-color: #313131;
}

h2 {
    font-size: 24px;
    color: #83476D;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 2px dotted grey;
}

nav {
    height: 45px;
    width: 100%;
    background-color: #8892BF;
    border-bottom: 4px solid #4F5B93;
    position: fixed;
    top: 0;
    color: white;
    text-align: center;
}

.navigation-link {
    list-style-type: none;
}

.navigation-link__item {
    display: inline;

}

.navigation-link__item a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 0 15px;
}


main {
    width: 860px;
    background-color: #F2F2F2;
    margin: 95px auto 40px;
    padding: 30px;
    border-left: 5px solid #b3b3b3;
}

label {
	margin-top: 10px;
}

.code {
    font-family: 'Fira Mono', monospace;
    background-color: white;
    border: 1px solid #b3b3b3;
    padding: 20px 10px;
    font-size: 14px;
    margin-bottom: 40px;
}

.code--strng {
    color: darkcyan;
}

.code--int {
    color: red;
}

.code--flt {
    color: violet;
}

.code--numb {
    color: skyblue;
}

.code--boo {
    color: lightgreen;
}

.login {
    padding: 10px 0;
    background:rgb(49,49,49,0.5);
    max-width: 420px;
    margin: -1px auto 0 auto;
}

.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}
